:root {
    --background-color: hsl(0, 0%, 99%);
    --header-color: #F5F5F5;
    --primary-color: #3A445D;
    --accent-color: #748CAB;
    --dashboard-toggle: 1fr;
    --text-color: #1d2333;
    --card-color: white;

}

body {
    background-color: var(--background-color);
    font-size: 16px;
    height: 100%;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: var(--dashboard-toggle) 4fr 1fr;
    grid-template-rows: 5rem 1fr 1fr;

}

ul {
    list-style: none;
}

p {
    margin: 0;
}

button {
    border-style: solid;
}

/* D A S H B O A R D */

.dashboard {
    font-family: "Montserrat";
    background-color: var(--primary-color);
    color: white;
    height:100%;

    padding: 20px;

    display: grid;
    grid-row: 1 / 5;
    grid-template-rows: 10vh 30vh 25vh ;
    user-select: none;
    
}


.dashboard div :hover {
    text-shadow: 0 0 1.5px white;
    cursor: pointer;
}

.dashboard .title {
    font-size: 2rem;
    font-weight: 600;
    align-items: start;
}

i.fa-bars {
    font-size: 1.8rem;
    margin-right: 10px;
    margin-left: 2px;
}

.title div {
    display: flex;
    align-items: center;
}

.navTab,
.helpTab {
    font-size: 1.3rem;

    display: grid;
    align-content: start;
    gap: 15px;
}


.navTab div,
.helpTab div {
    display: flex;
    align-items: center;
}

.navTab div i,
.helpTab div i {
    margin-right: 10px;
    width: 30px;
    text-align: center;
}

/* H E A D E R */

.header {
    background-color: var(--header-color);
    grid-column: 2 / 4;

    padding: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr ;
    
}

.logo {
    font-family: "Playwrite PE";
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);

}


.rightHeader {
    display: flex;
    justify-content: flex-end;
}

.featureButton button {
    margin-right: 10px;
    border-radius: 5px;
    width: 6rem;
    height: 3rem;
}

.rightHeader button {
    margin-left: 10px;
}

.newButton {
    background-color: #06d961;
    color: white;
    font-size: large;
    border: none;
}

.uploadButton,
.shareButton {
    border: none;
    background-color: white;
    box-shadow: 0 0 2px var(--text-color);
}

form {
    height: 3rem;
    width: 30vw;
    background-color: white;
    border-radius: 1.5rem;

    justify-self: center;

    display: flex;
    justify-content: space-between;

    padding-left: 1.5rem;
}

#search {
    flex: 1;
    border: none;
}

button[type="submit"] {
    width: 3rem;
    border-radius: 1.5rem;
    border: none;
}

.headerButton {
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    border: none;


    background-color: white;
}


/* P R O J E C T */

.projectTab {
    background-color: var(--background-color);
    grid-area: 2 / 2 / 5 / 2;

    padding: 20px;
    grid-template-columns: 1fr;
    display: grid;
    grid-template-rows: 6rem 1fr;
    justify-content: center;
}

.projectTitle,
.announcementTitle {
    font-family: "Montserrat";
    font-size: 2rem;
    align-self: center;
    color: var(--text-color);

    display: flex;
    justify-content: space-between;
}

.projectTitle p{
    align-self: center;
}

.featureButton {
    display: flex;
    justify-content: center;
}

.cardHolder{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* grid-template-rows: repeat(auto-fit, 300px); */
    gap: 30px;

    justify-items: center;
    align-items: center;
}

.card{
    border-style: solid;
    border-color: var(--text-color);
    background-color: var(--card-color);
    border-width: 1px;

    font-family: "Inter";
    font-weight: 700;
    font-size: 2rem;

    box-sizing: border-box;
    border-radius: 2%;
    width: 350px;
    padding: 5%;


    /* box-shadow: 0 0 2px black; */

    display: flex;
    flex-direction: column;
}

.projectName{
    margin-bottom: 5px;
    font-size: 1.7rem;
    color: var(--text-color);
}


.card img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.projectStatus{
    background-color: rgb(75, 187, 240);
    width: fit-content;
    font-size: 0.7rem;
    border-style: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.accessButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.accessButtons button{
    height: 3rem;
    padding: 10px;
    margin: 2px;
    font-size: 1rem;
    border-radius: 3px;
}

.livePreview{
    border-style: none;
    background-color: #06d961;
    color: white;
    flex: 2;
}

.github{
    flex: 2;
    color: var(--text-color);
    border-color: var(--text-color);
    border-width: 1px;
    background-color: white;
}
.share{
    border-width: 1px;
    background-color: white;
}


/* A N N O U N C E M E N T */

.announcementTab {
    background-color: var(--background-color);

    display: grid;
    grid-template-rows: 3rem 1fr;
}

.announcementTitle{
    font-size: 1.5rem;
    justify-content: center;
}

.trendingTab {
    background-color: #524698;
}


div~p {
    color: #852741;
}